.brand {
  --tw-color-primary-1: #ebe5f5;
  --tw-color-primary-2: #a780ff;
  --tw-color-primary-3: #4300d2;
  --tw-color-primary-4: #270570;
  --tw-color-secondary-1: #ffe3e0;
  --tw-color-secondary-2: #fb8478;
  --tw-color-secondary-3: #fa503f;
  --tw-color-secondary-4: #e12b19;
  --tw-color-tertiary-1: #ecfdf9;
  --tw-color-tertiary-2: #cbf6ec;
  --tw-color-tertiary-3: #adeddd;
  --tw-color-tertiary-4: #62c1a3;
  --tw-color-neutral-100: #f2f4f5;
  --tw-color-neutral-300: #dde1e8;
  --tw-color-neutral-600: #767e89;
  --tw-color-neutral-700: #545962;
  --tw-color-neutral-800: #343a3d;
  --tw-color-info-100: #e7f1ff;
  --tw-color-info-300: #95c5ff;
  --tw-color-info-500: #3f95fa;
  --tw-color-info-900: #1c63b6;
  --tw-color-success-100: #e6fbf4;
  --tw-color-success-300: #8fe3c6;
  --tw-color-success-500: #03a691;
  --tw-color-success-900: #007d6d;
  --tw-color-warning-100: #fff0e1;
  --tw-color-warning-300: #ffc286;
  --tw-color-warning-500: #fa8e04;
  --tw-color-warning-900: #a85f14;
  --tw-color-error-100: #ffebe8;
  --tw-color-error-300: #ff9d8f;
  --tw-color-error-500: #fa503f;
  --tw-color-error-900: #a43424 --tw-color-black: #212529;
  --tw-color-white: #ffffff;

  --color-primary-1: var(--tw-color-primary-1);
  --color-primary-2: var(--tw-color-primary-2);
  --color-primary-3: var(--tw-color-primary-3);
  --color-primary-4: var(--tw-color-primary-4);
  --color-secondary-1: var(--tw-color-secondary-1);
  --color-secondary-2: var(--tw-color-secondary-2);
  --color-secondary-3: var(--tw-color-secondary-3);
  --color-secondary-4: var(--tw-color-secondary-4);
  --color-tertiary-1: var(--tw-color-tertiary-1);
  --color-tertiary-2: var(--tw-color-tertiary-2);
  --color-tertiary-3: var(--tw-color-tertiary-3);
  --color-tertiary-4: var(--tw-color-tertiary-4);
  --color-neutral-100: var(--tw-color-neutral-100);
  --color-neutral-300: var(--tw-color-neutral-300);
  --color-neutral-600: var(--tw-color-neutral-600);
  --color-neutral-700: var(--tw-color-neutral-700);
  --color-neutral-800: var(--tw-color-neutral-800);
  --color-info-100: var(--tw-color-info-100);
  --color-info-300: var(--tw-color-info-300);
  --color-info-500: var(--tw-color-info-500);
  --color-info-900: var(--tw-color-info-900);
  --color-success-100: var(--tw-color-success-100);
  --color-success-300: var(--tw-color-success-300);
  --color-success-500: var(--tw-color-success-500);
  --color-success-900: var(--tw-color-success-900);
  --color-warning-100: var(--tw-color-warning-100);
  --color-warning-300: var(--tw-color-warning-300);
  --color-warning-500: var(--tw-color-warning-500);
  --color-warning-900: var(--tw-color-warning-900);
  --color-error-100: var(--tw-color-error-100);
  --color-error-300: var(--tw-color-error-300);
  --color-error-500: var(--tw-color-error-500);
  --color-error-900: var(--tw-color-error-900);
  --color-black: var(--tw-color-black);
  --color-white: var(--tw-color-white);
}
