
.brand {
  --tw-color-primary-1: #EBE5F5;
  --tw-color-primary-2: #A780FF;
  --tw-color-primary-3: #4300D2;
  --tw-color-primary-4: #270570;
  --tw-color-secondary-1: #FFE3E0;
  --tw-color-secondary-2: #FB8478;
  --tw-color-secondary-3: #FA503F;
  --tw-color-secondary-4: #E12B19;
  --tw-color-tertiary-1: #ECFDF9;
  --tw-color-tertiary-2: #CBF6EC;
  --tw-color-tertiary-3: #ADEDDD;
  --tw-color-tertiary-4: #62C1A3;
  --tw-color-neutral-100: #F2F4F5;
  --tw-color-neutral-300: #DDE1E8;
  --tw-color-neutral-600: #767E89;
  --tw-color-neutral-700: #545962;
  --tw-color-neutral-800: #343A3D;
  --tw-color-info-100: #E7F1FF;
  --tw-color-info-300: #95C5FF;
  --tw-color-info-500: #3F95FA;
  --tw-color-info-900: #1C63B6;
  --tw-color-success-100: #E6FBF4;
  --tw-color-success-300: #8FE3C6;
  --tw-color-success-500: #03A691;
  --tw-color-success-900: #007D6D;
  --tw-color-warning-100: #FFF0E1;
  --tw-color-warning-300: #FFC286;
  --tw-color-warning-500: #FA8E04;
  --tw-color-warning-900: #A85F14;
  --tw-color-error-100: #FFEBE8;
  --tw-color-error-300: #FF9D8F;
  --tw-color-error-500: #FA503F;
  --tw-color-error-900: #A43424
  --tw-color-black: #212529;
  --tw-color-white: #ffffff;

  --color-primary-1: var(--tw-color-primary-1);
  --color-primary-2: var(--tw-color-primary-2);
  --color-primary-3: var(--tw-color-primary-3);
  --color-primary-4: var(--tw-color-primary-4);
  --color-secondary-1: var(--tw-color-secondary-1);
  --color-secondary-2: var(--tw-color-secondary-2);
  --color-secondary-3: var(--tw-color-secondary-3);
  --color-secondary-4: var(--tw-color-secondary-4);
  --color-tertiary-1: var(--tw-color-tertiary-1);
  --color-tertiary-2: var(--tw-color-tertiary-2);
  --color-tertiary-3: var(--tw-color-tertiary-3);
  --color-tertiary-4:  var(--tw-color-tertiary-4);
  --color-neutral-100: var(--tw-color-neutral-100);
  --color-neutral-300: var(--tw-color-neutral-300);
  --color-neutral-600: var(--tw-color-neutral-600);
  --color-neutral-700: var(--tw-color-neutral-700);
  --color-neutral-800: var(--tw-color-neutral-800);
  --color-info-100: var(--tw-color-info-100);
  --color-info-300: var(--tw-color-info-300);
  --color-info-500: var(--tw-color-info-500);
  --color-info-900: var(--tw-color-info-900);
  --color-success-100: var(--tw-color-success-100) ;
  --color-success-300: var(--tw-color-success-300);
  --color-success-500: var(--tw-color-success-500);
  --color-success-900: var(--tw-color-success-900);
  --color-warning-100: var(--tw-color-warning-100);
  --color-warning-300: var(--tw-color-warning-300);
  --color-warning-500: var(--tw-color-warning-500);
  --color-warning-900: var(--tw-color-warning-900);
  --color-error-100: var(--tw-color-error-100);
  --color-error-300: var(--tw-color-error-300) ;
  --color-error-500: var(--tw-color-error-500);
  --color-error-900: var(--tw-color-error-900);
  --color-black: var(--tw-color-black);
  --color-white: var(--tw-color-white);
}