@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Poppins', sans-serif;
  --tw-color-black: #212529;
  --tw-color-blue-light: #39abfe;
  --tw-color-blue: #2970ff;
  --tw-color-gray-dark: #797979;
  --tw-color-gray-light: #f8f8f8;
  --tw-color-gray: #adadad --tw-color-green-light: #28d099;
  --tw-color-green: #27a97e;
  --tw-color-orange-light: #ffd358;
  --tw-color-orange: #ffbc00;
  --tw-color-red-light: #ff6c60;
  --tw-color-red: #ea4335;
  --tw-color-white: #ffffff;

  --color-black: var(--tw-color-black);
  --color-blue-light: var(--tw-color-blue-light);
  --color-blue: var(--tw-color-blue);
  --color-gray-dark: var(--tw-color-gray-dark);
  --color-gray-light: var(--tw-color-gray-light);
  --color-gray: var(--tw-color-gray);
  --color-green-light: var(--tw-color-green-light);
  --color-green: var(--tw-color-green);
  --color-orange-light: var(--tw-color-orange-light);
  --color-orange: var(--tw-color-orange);
  --color-red-light: var(--tw-color-red-light);
  --color-red: var(--tw-color-red);
  --color-white: var(--tw-color-white);
}

@layer base {
  @font-face {
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    color: var(--color-black);
  }

  /* #region  /**=========== Typography =========== */

  h1,
  .h1 {
    @apply text-[24px] font-semibold leading-[160%] text-gray-900;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}
