@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Poppins', sans-serif;


  --tw-color-primary-100: #eaecf0;
  --tw-color-primary-300: #bdbdbd;
  --tw-color-primary-400: #ADADAD;
  --tw-color-primary-500: #797979;
  --tw-color-primary-700: #212529;
  --tw-color-brand-300: #28D099;
  --tw-color-brand-500: #27A97E;
  --tw-color-success-300: #39ABFE;
  --tw-color-success-500: #2970FF;
  --tw-color-warning-300: #FFD358;
  --tw-color-warning-500: #FFBC00;
  --tw-color-error-300: #FF6C60;
  --tw-color-error-500: #EA4335;
  --tw-color-black: #212529;
  --tw-color-white: #ffffff;

  --color-primary-100: var(--tw-color-primary-100);
  --color-primary-300: var(--tw-color-primary-300);
  --color-primary-400: var(--tw-color-primary-400);
  --color-primary-500: var(--tw-color-primary-500);
  --color-primary-700: var(--tw-color-primary-700);
  --color-brand-300: var(--tw-color-brand-300);
  --color-brand-500: var(--tw-color-brand-500);
  --color-success-300: var(--tw-color-success-300);
  --color-success-500: var(--tw-color-success-500);
  --color-warning-100: var(--tw-color-warning-100);
  --color-warning-300: var(--tw-color-warning-300);
  --color-warning-500: var(--tw-color-warning-500);
  --color-error-300: var(--tw-color-error-300) ;
  --color-error-500: var(--tw-color-error-500);
  --color-black: var(--tw-color-black);
  --color-white: var(--tw-color-white);
}

@layer base {
  @font-face {
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    color: var(--color-black);
  }

  /* #region  /**=========== Typography =========== */

  h1,
  .h1 {
    @apply text-[24px] font-semibold leading-[160%] text-gray-900;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }

  hr,
  .hr {
    @apply m-4 box-border h-px border-t-[1px] border-solid border-white-200;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
