@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Poppins', sans-serif;
  --tw-color-neutral-50: 234 236 240;
  --tw-color-neutral-100: 189 189 189;
  --tw-color-neutral-200: 173 173 173;
  --tw-color-neutral-300: 132 132 132;
  --tw-color-neutral-400: 121 121 121;
  --tw-color-neutral-500: 33 37 41;
  --tw-color-brand-300: 40 208 153;
  --tw-color-brand-500: 39 169 126;
  --tw-color-success-300: 57 171 254;
  --tw-color-success-500: 41 112 255;
  --tw-color-warning-300: 255 211 88;
  --tw-color-warning-500: 255 188 0;
  --tw-color-error-300: 255 108 96;
  --tw-color-error-500: 234 67 53;
  --tw-color-black: 33 37 41;
  --tw-color-white: 255 255 255;

  --color-neutral-50: var(--tw-color-neutral-50); /* #eaecf0 */
  --color-neutral-100: var(--tw-color-neutral-100); /* #bdbdbd */
  --color-neutral-200: var(--tw-color-neutral-200); /* #adadad */
  --color-neutral-300: var(--tw-color-neutral-300); /* #848484 */
  --color-neutral-400: var(--tw-color-neutral-400); /* #797979 */
  --color-neutral-500: var(--tw-color-neutral-500); /* #212529 */
  --color-brand-300: var(--tw-color-brand-300); /* #28d099 */
  --color-brand-500: var(--tw-color-brand-500); /* #27a97e */
  --color-success-300: var(--tw-color-success-300); /* #39abfe */
  --color-success-500: var(--tw-color-success-500); /* #2970ff */
  --color-warning-300: var(--tw-color-warning-300); /* #ffd358 */
  --color-warning-500: var(--tw-color-warning-500); /* #ffbc00 */
  --color-error-300: var(--tw-color-error-300); /* #ff6c60 */
  --color-error-500: var(--tw-color-error-500); /* #ea4335 */
  --color-black: var(--tw-color-black); /* #212529 */
  --color-white: var(--tw-color-white); /* #ffffff */
}

@layer base {
  @font-face {
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    color: var(--color-black);
  }

  /* #region  /**=========== Typography =========== */

  h1,
  .h1 {
    @apply text-[24px] font-semibold leading-[160%] text-gray-900;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }

  hr,
  .hr {
    @apply my-4 box-border h-px border-t-[1px] border-solid border-white-200;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
